/* 
    Created on : 22/09/2022, 07:24:36
    Author     : Diego
*/

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

/*Zerando o CSS*/

*{
    margin: 0;
    padding:  0;
    box-sizing: border-box;
}

/*fundo-tela*/

 html{
    width: 100vw;
    height: 100vh;
    font-size: 62.5%;
    color: white;
    font-family: 'Lato', sans-serif;
}

body{
	overflow-x: hidden;
    width: 100%;
    height: 100%;
	background: linear-gradient(45deg,rgba(245,70,66,0.75),rgba(8,83,156,0.75)),url(../imagens/fundo_conhecimentos.jpg);
    background-position: center center;
    background-size: cover;
    background-position-y: 0px;
    /* background-repeat: no-repeat; */
	
  
}

/*cabeçalho*/
header {
	width: 100%;
	height: 7vh;
	position: absolute;
	/* background: black; */
	
	
}

.conhecimentos {
    padding-top: 60px;
}

.titulo {
	font-size: 60px;
	color: #00FF7F;
	text-shadow: black 0.1em 0.1em 0.2em;
	transition: 0.8s;
}

.titulo-2 {
	font-size: 30px;
	color: white;
	padding-bottom: 20px;
	text-shadow: black 0.1em 0.1em 0.2em;
	transition: 0.8s;
}

.conhecimentos h2, h3, .conhecimentos a {
    text-align: center;
}

.conhecimentos h2 {
    padding-bottom: 20px;
}

/*botão*/
button {
    padding: 10px 100px;
    border-radius: 25px;
    cursor: pointer;
    color: #363636;
    background-color: #00FF7F;
    border: 1px solid #363636;
    transition: ease-in-out 0.3s;
}

button:hover {
    color: #00FF7F;
    background: none;
	border: 1px solid #00FF7F;
}

.ver-mais {
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 93px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 35px;
	/* border: 2px solid #00FF7F; */
}

.conhecimentos a {
    display: inline;
	text-decoration: none;
}

/*cards*/
.card-container{
	background: rgba(22,22,22,0.2);
	border-radius: 20px;
	width: 40vw;
	transition: ease-in-out 0.8s;
	justify-content: center;
}

.card-superior {
	display: flex;
	
}

.textos {
	display: block;
	gap: 20px;
	
}
.card-titulo{
	margin-top: 10px;
	text-align: center;
	color: #00FF7F;
	text-shadow: black 0.1em 0.1em 0.2em;
}

.card-descricao {
	
	margin-top: 10px;
	text-wrap: wrap;
	text-align: center;
	font-size: 1.5rem;
	text-shadow: black 0.1em 0.1em 0.2em;
	
}

.card {
    background-color: #C4C4C4;
    height: 195px;
    width: 380px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
    transition: ease-in-out 0.3s;
	border: 2px solid #00FF7F;
	padding:32px;
	margin:8px;
	
}

.card img{
	width: 380px;
	height: 200px;
}

.card div p {
    font-family: 'Fira Sans', sans-serif;
    font-size: 20px;
    color: black;
}

.card:hover {
    letter-spacing: 5px;
	transform: scale(1.2);
}

.card div {
    background-color: #00FF7F;
    width: 1000px;
    text-align: center;
    padding: 5% 0;
    transform: rotate(-50deg);
}

.escondido {
    opacity: 0;
    display: none;
    transition: 1000ms;
}


.cursos-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 29.5px;
    width: 100%;
    justify-content: center;
	
}

.detalhes {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: center;
	text-align: center;
	
}

.card-det ion-icon{
	color: white;
	text-shadow: blue 0.1em 0.1em 0.2em;
	font-weight: bold;
	font-size: 1.8rem;
}

.card-det {
	color: white;
	text-shadow: blue 0.1em 0.1em 0.2em;
	font-weight: bold;
	opacity: 1;
	background-color: #121212;
	border: 2px solid #00FF7F;
	border-radius: 10px;
	padding: 5px 15px;
    text-align: center;
    margin-right: 20px;
    margin-top: 15px;
    font-size: 1.2rem;
	cursor: pointer;
	transition: 0.7s;
	
}

.card-det:before {
    background: linear-gradient(150deg, rgba(210, 64, 116, 1), rgba(101, 24, 180, 1));
	background-size: 400%;
}

.card-det:hover {
    background-color: #272727;
	text-shadow: 1px 1px 3px #00bbc5;
}

.card-links {
    font-size: 1.5rem;
    text-align: center;
	margin-top: 10px;
    padding-bottom: 1rem;
	
}

.card-links a{
    margin-right: 2rem;
    cursor: pointer;
    color: white;
}

.card-links a:hover{
    color: #32F484;
}

/*rodapé*/
footer {
	width: 100vw;
	height: 7vh;
		
}

/*barra scroll*/
::-webkit-scrollbar {
  width: 10px;
  background-color: #1b1b1b;
}

::-webkit-scrollbar-thumb {
  background-color: #00d2df;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #00bbc5;
}


/* Animação */

[data-anime] {
  opacity: 0;
  
}

[data-anime="left"]{
	transform: translate3d(-100px, 0px ,0px);
	
}

[data-anime="right"] {
  transform: translate3d(100px, 0px, 0px); 
}

[data-anime="down"] {
  transform: translate3d(0px, -50px, 0px); 
}

[data-anime="up"] {
  transform: translate3d(0px, 50px, 0px); 
}



[data-anime].animate {
  opacity: 1;
  transform: translate3d(0px, 0px ,0px);

}

/*Responsividade*/

@media (max-width: 1104px){}

@media (max-width: 991px){}

@media (max-width: 947px){}

@media (max-width: 690px){}

@media (max-width: 500px){}