/* 
    Created on : 22/09/2022, 07:24:36
    Author     : Diego
*/

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

/*Zerando o CSS*/

*{
    margin: 0;
    padding:  0;
    box-sizing: border-box;
}

/*fundo-tela*/

 html{
    width: 100vw;
    height: 100vh;
    font-size: 62.5%;
    color: white;
    font-family: 'Lato', sans-serif;
}

body{
	overflow-x: hidden;
	overflow-y: hidden;
	width: 100vw;
    height: 100vh;
	background: linear-gradient(45deg,rgba(8,83,156,0.75),rgba(245,70,66,0.75)),url(../imagens/fundo_contato.jpg);
    background-position: center center;
    background-size: cover;
    background-position-y: 0px;
    /* background-repeat: no-repeat; */
	
  
}

/*cabeçalho*/
header {
	width: 100%;
	height: 7vh;
	/* position: absolute; */
	/* background: black; */
	
	
}

main {
	width: 100vw;
	height: 86vh;
	color: black;
	padding-top: 20px;
}

.topo {
	/* padding-top: 50px; */
	width: 100vw;
	height: 20vh;
	
	text-align: center;
	padding-top: 20px;
}

.topo h1 {
	font-size: 60px;
	color: #00FF7F;
	text-shadow: black 0.1em 0.1em 0.2em;
	transition: 0.8s;
}

.main-content {
	/* padding-top: 50px; */
	width: 100vw;
	height: 80vh;
	
	display: flex;
	flex-direction: space-around;
	text-align: center;
}

.left {
	padding-top: 50px;
	width: 50vw;
	height: 100vh;
	transition: 0.8s;
	
}

.right {
	padding-top: 50px;
	width: 50vw;
	height: 100vh;
	
}



.left{
   	font-size: 1.8rem;
	
	
}
.left h2{
	text-shadow: black 0.1em 0.1em 0.2em;
	text-wrap: wrap;
	color: #00FF7F;
	
	
}

.left .texto{
	text-align: center;
	text-shadow: black 0.1em 0.1em 0.2em;
	text-wrap: wrap;
	color: white;
	margin-left: 10%;
	
}

.contato-esquerda .icones{
    display: grid;
	grid-template-columns: auto auto auto;
	flex-wrap: wrap;
    gap: 37px;
	margin-top: 20px;
	margin-left: 20px;
}
.contato-esquerda .card{
    display: flex;
	width: 180px;
    height: 65px;
	align-items: center;
    cursor: pointer;
	
}

.contato-esquerda .card a{
	text-decoration: none;
	color:inherit;
}
.contato-esquerda .card .info{
    margin-left: 30px;
	
}
.contato-esquerda .card .info .head{
    font-weight: 500;
}
.contato-esquerda .card .info .sub-title{
     color:#191970;
	 font-size: 1.2rem;
}

.contato-esquerda .card ion-icon{
    font-size: 25px;
    color: #00FF7F;
}

.right {
	align-items: center;
	text-align: center;
	justify-content: center;
	transition: 0.8s;
}

.contato-esquerda {
	justify-content: center;
}

.msg-titulo {
	color: #00FF7F;
	font-size: 1.6rem;
	text-shadow: black 0.1em 0.1em 0.2em;
	text-wrap: wrap;
}

.msg-conteiner {
	width: 85%;
	height: 55%;
	background: rgba(22,22,22,0.2);
	border-radius: 20px;	
	align-items: center;	
}

form {
	width: 100%;
	height: 100%;
	align-items: center;
	display: block;	
}

 form .fields{
    display: block;
	margin-top: 10px;
}


form .name input {
	width: 90%;	
}

form .email input{
	width: 90%;	
}

 form .field,
 form .fields {
  margin-bottom: 12px;
}

 form .field input,
 form .msg textarea {		
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
    font-size: 18px;
}

  
	form .email,
	form .name  {
    
}
 form .msg textarea{
    width: 90%;
    height: 150px;
}
 form .msg textarea{
    padding-top: 10px;
    resize: none;
}


 form .btn-enviar{
    width: 170px;
    height: 33px;
	display: inline-block;
	color: #363636;
	padding: 8px 30px;
	border-radius: 50px;
	font-weight: 500;
	font-size: 18px;
	border: 1px solid #363636;
	background-color: #00FF7F;
	transition: all 0.3s ease;
}

form .btn-enviar:hover{
    color: #00FF7F;
    background: none;
	border: 1px solid #00FF7F;
}

/* Animação */

[data-anime] {
  opacity: 0;
  
}

[data-anime="left"]{
	transform: translate3d(-100px, 0px ,0px);
	
}

[data-anime="right"] {
  transform: translate3d(100px, 0px, 0px); 
}

[data-anime="down"] {
  transform: translate3d(0px, -50px, 0px); 
}

[data-anime="up"] {
  transform: translate3d(0px, 50px, 0px); 
}



[data-anime].animate {
  opacity: 1;
  transform: translate3d(0px, 0px ,0px);

}

/*rodapé*/
footer {
	width: 100vw;
	height: 7vh;		
}

/*barra scroll*/
::-webkit-scrollbar {
  width: 10px;
  background-color: #1b1b1b;
}

::-webkit-scrollbar-thumb {
  background-color: #00d2df;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #00bbc5;
}


/*Responsividade*/

@media (max-width: 1104px){}

@media (max-width: 991px){}

@media (max-width: 947px){}

@media (max-width: 690px){}

@media (max-width: 500px){}