/* 
    Created on : 22/09/2022, 07:24:36
    Author     : Diego
*/

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

/*Zerando o CSS*/

*{
    margin: 0;
    padding:  0;
    box-sizing: border-box;
}

/*fundo-tela*/

 html{
    width: 100vw;
    height: 100vh;
    font-size: 62.5%;
    color: white;
    font-family: 'Lato', sans-serif;
}

body{
	overflow-x: hidden;
    width: 100%;
    height: 100%;
	background: linear-gradient(45deg,rgba(210,105,30,0.75),rgba(128,128,0,0.75)),url(../imagens/fundo_exp.jpg);
    background-position: center center;
    background-size: cover;
    background-position-y: 0px;
    /* background-repeat: no-repeat; */
	
  
}

/*cabeçalho*/
header {
	width: 100%;
	height: 7vh;
	position: absolute;
	/* background: black; */
	
	
}

.xp {
    padding-top: 40px;
	align-items: center;
}

.titulo {
	font-size: 60px;
	color: #00FF7F;
	text-shadow: black 0.1em 0.1em 0.2em;
	transition: 0.8s;
}

.titulo-2 {
	font-size: 30px;
	color: white;
	padding-bottom: 20px;
	text-shadow: black 0.1em 0.1em 0.2em;
	transition: 0.8s;
}

.xp h2, h3, .xp a {
    text-align: center;
}

.xp h2 {
    padding-bottom: 20px;
}

/*cards*/
.card-container{
	background: rgba(22,22,22,0.2);
	border-radius: 20px;
	width: 60vw;
	transition: ease-in-out 0.8s;
	justify-content: center;
	margin-bottom: 20px;
	margin: 0 auto;
}

.xp-cards {
	display: flex;	
    flex-wrap: wrap;
    gap: 29.5px;
    width: 100%;
    justify-content: center;
	text-wrap: wrap;
}

.xp-cards .left {
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
	
	
}

.card-info{
	font-size: 20px;
	padding: 10px;
	/* text-shadow: black 0.1em 0.1em 0.2em; */
	
}

.card-info.desc {
	width: 25vw;
	text-align: justify;
	
}

.card-info h4{
	color: black;
}

.card-info p{
	color: #eee;
}


ion-icon {
	color: #00FF7F;
	font-size: 30px;
}

.xp-cards .right {
	display: block;
	margin-top: 20px;
	margin-bottom: 20px;
}

.escondido {
    opacity: 0;
    display: none;
    transition: 1000ms;
}


/*botão*/
button {
    padding: 10px 100px;
    border-radius: 25px;
    cursor: pointer;
    color: #363636;
    background-color: #00FF7F;
    border: 1px solid #363636;
    transition: ease-in-out 0.3s;
}

button:hover {
    color: #00FF7F;
    background: none;
	border: 1px solid #00FF7F;
}

.ver-mais {
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 93px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 35px;
	/* border: 2px solid #00FF7F; */
}

/* Animação */

[data-anime] {
  opacity: 0;
  
}

[data-anime="left"]{
	transform: translate3d(-100px, 0px ,0px);
	
}

[data-anime="right"] {
  transform: translate3d(100px, 0px, 0px); 
}

[data-anime="down"] {
  transform: translate3d(0px, -50px, 0px); 
}

[data-anime="up"] {
  transform: translate3d(0px, 50px, 0px); 
}



[data-anime].animate {
  opacity: 1;
  transform: translate3d(0px, 0px ,0px);

}

/*rodapé*/
footer {
	width: 100vw;
	height: 7vh;
	margin-bottom: 0;
}

/*barra scroll*/
::-webkit-scrollbar {
  width: 10px;
  background-color: #1b1b1b;
}

::-webkit-scrollbar-thumb {
  background-color: #00d2df;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #00bbc5;
}


/*Responsividade*/

@media (max-width: 1104px){}

@media (max-width: 991px){}

@media (max-width: 947px){}

@media (max-width: 690px){}

@media (max-width: 500px){}