/* #navbar {
    height: 180px;
} */
/* 
#navbar-container {
    flex-direction: column;
    padding: 20px 0;
} */

/* #navbar-items {
    flex-direction: column;
    text-align: center;
    width: 100%;
}

#navbar-items li:nth-child(2) {
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
}
 */
 
 
 
/* Showcase */
.logo {
	text-align: center;
	margin: auto;
}

 .logo a{
	 font-size: 18px;
	 margin: 0;
 }
main .scroll {
		font-size: 12px;
		
		
		
	}
	
		
	main .inicio {
		display: block;		
		align-items: center;
		margin: 0 auto;
		
		
	}
	
	  main .inicio .inicio-esquerda, main .inicio .inicio-direita{
		width: 100%;
		height: 50%;
		padding-top: 10px;
		align-items: center;		
	}
		
	.inicio-texto {
		margin: 0 auto;
		text-wrap: wrap;
	}
		.linha-1 {
		font-size: 17px;
	}
	.linha-2 {
		font-size: 45px;
	}
	.linha-3 {
		font-size: 35px;
	}

	main .inicio .inicio-direita .desenho-container{
		width: 80%;
		height: 80%;
		margin: 0 auto;
		text-align: center;
	}
	
	main .inicio .inicio-direita .desenho-container img {
		width: 100%;
		margin: 0 auto;
	}
	
	main .sobre {
		flex-direction: column;
		
		text-align: center;
		align-items: center;
	}
	
	main .sobre .sobre-esquerda, main .sobre .sobre-direita {
		width: 100%;
		height: 50%;
	}
	
	main .sobre .sobre-esquerda .sobre-esquerda-container .sobre-foto {
		margin-top: 50px;
		margin: 0 auto;
	}
	
	main .sobre .sobre-direita .titulo {
		margin-top: -120px;
	}
	
	main .sobre .sobre-direita .sobre-texto {
		width: 80%;
		font-size: 13px;
		margin: 0 auto;
		
	}
	
	main .sobre .sobre-direita .sobre-btns {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		justify: space-between;
	}
	 	
	
#showcase-container {
    padding: 40px;
}

/* Clients */
#clients-container {
    grid-template-columns: repeat(2, 1fr);
}

.client {
    width: 50%;
}

/* Features */
#features-container {
    grid-template-columns: 1fr;
}

#features-container .feature:nth-child(2) {
    margin: 15px 0;
}

/* Product */
#product-container {
    flex-direction: column;
}

#items {
    width: 90%;
}

.item {
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Testimonials */
.testimonial {
    flex-direction: column;
    text-align: center;
}

/* Gallery */

#gallery-container {
    grid-template-columns: 1fr;
}

.gallery-image {
    width: 100%;
}