/* 
    Created on : 22/09/2022, 07:24:36
    Author     : Diego
*/

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

/*Zerando o CSS*/

*{
    margin: 0;
    padding:  0;
    box-sizing: border-box;
}

/*fundo-tela*/

 html{
    width: 100vw;
    height: 100vh;
    font-size: 62.5%;
    color: white;
    font-family: 'Lato', sans-serif;
}

body{
	overflow-x: hidden;
    width: 100%;
    height: 100%;
	background: linear-gradient(45deg,rgba(72,61,139,0.75),rgba(139,69,19,0.75)),url(../imagens/fundo_projetos.jpg);
    background-position: center center;
    background-size: cover;
    background-position-y: 0px;
    /* background-repeat: no-repeat; */
	
  
}

/*cabeçalho*/
header {
	width: 100%;
	height: 7vh;
	position: absolute;
	/* background: black; */
	
	
}

/* Conteúdo Principal*/

.projetos {
    padding-top: 60px;
}

.titulo {
	font-size: 60px;
	color: #00FF7F;
	text-shadow: black 0.1em 0.1em 0.2em;
	transition: 0.8s;
}

.projetos h2, .projetos a {
    text-align: center;
}

.projetos h2 {
    padding-bottom: 50px;
}

/*botão*/
button {
    padding: 10px 100px;
    border-radius: 25px;
    cursor: pointer;
    color: #363636;
    background-color: #00FF7F;
    border: 1px solid #363636;
    transition: ease-in-out 0.3s;
}

button:hover {
    color: #00FF7F;
    background: none;
	border: 1px solid #00FF7F;
}

.ver-mais {
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 93px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 35px;
	/* border: 2px solid #00FF7F; */
}

.projetos a {
    display: inline;
}

/*cards*/
.card-container{
	background: rgba(22,22,22,0.2);
	border-radius: 20px;
	width: 40vw;
	transition: ease-in-out 0.8s;
	justify-content: center;
}

.card-superior {
	display: flex;
	
	
}

.card-superior .left{
	width: 50%;
	
}

.card-superior .right{
	width: 50%;
	height: 100%;
	
	
}

.textos {
	display: block;
	gap: 20px;
	
}
.card-titulo{
	margin-top: 10px;
	text-align: center;
	color: #00FF7F;
	text-shadow: black 0.1em 0.1em 0.2em;
}

.card-descricao {
	
	margin-top: 10px;
	text-wrap: wrap;
	text-align: center;
	font-size: 1.5rem;
	text-shadow: black 0.1em 0.1em 0.2em;
	
}

.atributos {
	font-size: 2rem;
	display: flex;
	justify-content: space-around;
	margin-top: 100px;
	
}

label{
	color: #1C1C1C;
	text-shadow: white 0.1em 0.1em 0.2em;
}

ion-icon, .fa-solid{
    color: #00FF7F;
}

.card {
    background-color: #C4C4C4;
    height: 195px;
    width: 90%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
    transition: ease-in-out 0.3s;
	border: 2px solid #00FF7F;
	padding:32px;
	margin:8px;
	
}

 .card img{
	width: 380px;
	height: 200px;
}



.card:hover {
    letter-spacing: 5px;
	transform: scale(1.2);
}

.escondido {
    opacity: 0;
    display: none;
    transition: 1000ms;
}



.projetos-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 29.5px;
    width: 100%;
    justify-content: center;
	
}

.tecnologias {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: center;
	text-align: center;
	
}


.card-tec {
	padding: 5px 15px;
    text-align: center;
    margin-right: 20px;
    margin-top: 20px;
    font-size: 1.5rem;
	cursor: pointer;
	transition: 0.7s;
	
}

.card-tec:hover {
    transform: rotate(-360deg);
	background: #00FF7F;
}

.card-tec.html {
    background-color: rgba(255, 111, 0, 0.25);
	border: 2px solid #FF6D00;
    border-radius: 10px;
}

.card-tec.css {
    border: 2px solid #039BE5; 
	border-radius: 10px;	
    background-color: rgba(3, 155, 229,0.25);
}

.card-tec.javascript {
    border: 2px solid #FFD600;
	border-radius: 10px;    
    background-color: rgba(255, 214, 0,0.25);
}

.card-links {
    font-size: 2.5rem;
    text-align: end;
    padding-top: 2rem;
	padding-bottom: 1rem;
}

.card-links a{
    margin-right: 2rem;
    cursor: pointer;
    color: var(--second);
}

.card-links a:hover{
    color: #32F484;
}

/*rodapé*/
footer {
	width: 100vw;
	height: 7vh;
		
}


/*barra scroll*/
::-webkit-scrollbar {
  width: 10px;
  background-color: #1b1b1b;
}

::-webkit-scrollbar-thumb {
  background-color: #00d2df;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #00bbc5;
}


/* Animação */

[data-anime] {
  opacity: 0;
  
}

[data-anime="left"]{
	transform: translate3d(-100px, 0px ,0px);
	
}

[data-anime="right"] {
  transform: translate3d(100px, 0px, 0px); 
}

[data-anime="down"] {
  transform: translate3d(0px, -50px, 0px); 
}

[data-anime="up"] {
  transform: translate3d(0px, 50px, 0px); 
}



[data-anime].animate {
  opacity: 1;
  transform: translate3d(0px, 0px ,0px);

}

/*Responsividade*/

@media (max-width: 1104px){}

@media (max-width: 991px){}

@media (max-width: 947px){}

@media (max-width: 690px){}

@media (max-width: 500px){}