/* 
    Created on : 22/09/2022, 07:24:36
    Author     : Diego
*/

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

/*Zerando o CSS*/

*{
    margin: 0;
    padding:  0;
    box-sizing: border-box;
}

/*fundo-tela*/

 html{
    width: 100vw;
    height: 100vh;
    font-size: 62.5%;
    color: white;
    font-family: 'Lato', sans-serif;
}

body{
	overflow-x: hidden;
    width: 100%;
    height: 100%;
	background: linear-gradient(45deg,rgba(75,0,130,0.75),rgba(218,165,32,0.75)),url(../imagens/fundo_skills.jpg);
    background-position: center center;
    background-size: cover;
    background-position-y: 0px;
    background-repeat: no-repeat;
	
  
}

header {
	width: 100vw;
	height: 7vh;
	/* position: absolute; */
	/* background: black; */
	
	
}

main {
	width: 100vw;
	height: 93vh;
	color: black;
}

.container {
	display: flex;
}

.topo {
	width: 100vw;
	height: 20vh;
	text-align: center;
	align-items: center;
	
	
}

.topo h1 {
	font-size: 60px;
}

.esquerda {
	width: 50vw;
	height: 80vh;
		
}

.esquerda .skill-cards {
	display: grid;
	grid-template-columns: auto auto auto auto;
    /* justify-content: center; */
    flex-wrap: wrap;
    gap: 37px;
    max-width: 55% ;
}

.esquerda .skill-cards article {
	width: 106px;
	height:106px;
	display: flex;
	background-color: grey;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	background-repeat: no-repeat;
    background-position: center;
	padding:32px;
	margin:8px;
	flex-basis:calc(33% - 20px);
	flex-grow:1;
	border:1px solid #040405;
	transition:1s all ease;
	
	

	
}

.esquerda .skill-cards article:hover {
	border:1px solid #00FF7F;
	transform: scale(1.05);
	background-color: white;
		
}

.esquerda .skill-cards article span {
	display: none;
	background-color: black;
	color: white;
}


.skill-cards:hover .skill-icones {
    opacity: 0;
}

 .html:hover {
	 background-image: url(../imagens/html.svg);
	 image-width: 60px;
	 image-height: 60px;
	 
 }

.css:hover {
	 background-image: url(../imagens/css.svg);
	 
 }
 
 .javascript {
	 background-image: url(../imagens/js.svg);
	 
 }
 
 .git {
	 background-image: url(../imagens/git.svg);
	 
 }
 
 .github {
	 background-image: url(../imagens/github.svg);
	 
 }
 
 .java {
	 background-image: url(../imagens/java.svg);
	 
 }
 
 .sql {
	 background-image: url(../imagens/sql.svg);
	 
 }
 
 .none {
	 background-image: url(../imagens/none.svg);
	 
 }
 
 
 
.direita {
	width: 50vw;
	height: 80vh;
	justify-content: center;
	align-items: center;
	
}


.terminal {
border-radius: 20px;
background-color: black;
  background-image: radial-gradient(
    rgba(0, 150, 0, 0.75), black 120%
  );
  height: 300px;
  width: 500px;
  margin: 0;
  overflow: hidden;
  padding: 2rem;
  color: white;
  font: 1.3rem Inconsolata, monospace;
  text-shadow: 0 0 5px #C8C8C8;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: repeating-linear-gradient(
      0deg,
      rgba(black, 0.15),
      rgba(black, 0.15) 1px,
      transparent 1px,
      transparent 2px
    );
    pointer-events: none;
  }
}
::selection {
  background: #0080FF;
  text-shadow: none;
}
pre {
  margin: 0;
}