/* 
    Created on : 22/09/2022, 07:24:36
    Author     : Diego
*/

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

/*Zerando o CSS*/

*{
    margin: 0;
    padding:  0;
    box-sizing: border-box;
}

/*fundo-tela*/

 html{
    width: 100vw;
    height: 100vh;
    font-size: 62.5%;
    color: white;
    font-family: 'Lato', sans-serif;
}

body{
	overflow-x: hidden;
    width: 100vw;
    height: 100vh;
	background: linear-gradient(45deg,rgba(47,79,79,0.75),rgba(0,128,128,0.75)),url(../imagens/fundo_skills.jpg);
    background-position: center center;
    background-size: cover;
    background-position-y: 0px;
    background-repeat: no-repeat;
	
  
}

/*cabeçalho*/
header {
	width: 100vw;
	height: 7vh;
		
	
}

main {
	width: 100vw;
	height: 93vh;
	color: black;
}

.container {
	display: flex;
}

.topo {
	width: 100vw;
	height: 20vh;
	text-align: center;
	align-items: center;
	
	
}

.topo h1 {
	font-size: 60px;
	color: #00FF7F;
	text-shadow: black 0.1em 0.1em 0.2em;
	transition: 0.8s;
	
}

.esquerda {
	width: 50vw;
	height: 80vh;
		
}

.esquerda .skill-cards {
	display: grid;
	grid-template-columns: auto auto auto auto;
    flex-wrap: wrap;
    gap: 37px;
    max-width: 55% ;
}

/*cards*/
.esquerda .skill-cards article {
	width: 106px;
	height:106px;
	display: flex;
	background-color: grey;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	background-repeat: no-repeat;
    background-position: center;
	padding:32px;
	margin:8px;
	flex-basis:calc(33% - 20px);
	flex-grow:1;
	border:2px solid #696969;
	transition:1s all ease;
	
}

.skill-cards article:hover {
	border:2px solid #00BFFF;
	transform: scale(1.05);
	background-color: white;
	
}

article .skill-icones {
    transition: ease-in-out 0.3s;
}

article:hover .skill-icones {
	opacity: 0;
	
		
}


.skill-cards article span {
	display: none;
	background-color: black;
	color: white;
} 


.html {
	 background-image: url(../imagens/html.png);
	 background-size: 65px 77px;
	 
	 
 }

.css {
	 background-image: url(../imagens/css.svg);
	 
 }
 
 .javascript {
	 background-image: url(../imagens/javascript.png);
	 background-size: 75px 75px;
}
 
 .git {
	 background-image: url(../imagens/git.svg);
	 
 }
 
 .github {
	 background-image: url(../imagens/esse.svg);
	 background-size: 79px 79px;
 }
 
 .java {
	 background-image: url(../imagens/java2.svg);
	 
 }
 
 .sql {
	 background-image: url(../imagens/sql.png);
	  background-size: 62px 75px;
	 
 }
 
 .mysql {
	 background-image: url(../imagens/mysql.png);
	 background-size: 73px 74px;
 }
 
 
 
.direita {
	width: 50vw;
	height: 80vh;
	justify-content: center;
	align-items: center;
	
}

/*terminal*/
.terminal {
	transition: 0.8s;
	border-radius: 20px;
	background-color: black;
	background-image: radial-gradient(rgba(0, 150, 0, 0.75), black 120%);
	border:2px solid #C0C0C0;
	height: 300px;
	width: 500px;
	margin: 0;
	overflow: hidden;
	padding: 2rem;
	color: white;
	font: 1.3rem Inconsolata, monospace;
	text-shadow: 0 0 5px #C8C8C8;
	&::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: repeating-linear-gradient(
      0deg,
      rgba(black, 0.15),
      rgba(black, 0.15) 1px,
      transparent 1px,
      transparent 2px
    );
    pointer-events: none;
  }
}
::selection {
  background: #0080FF;
  text-shadow: none;
}
pre {
  margin: 0;
}

/*rodapé*/
footer {
	width: 100vw;
	height: 7vh;
		
}

/*barra scroll*/
::-webkit-scrollbar {
  width: 10px;
  background-color: #1b1b1b;
}

::-webkit-scrollbar-thumb {
  background-color: #00d2df;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #00bbc5;
}



/* Animação */

[data-anime] {
  opacity: 0;
  
}

[data-anime="left"]{
	transform: translate3d(-100px, 0px ,0px);
	
}

[data-anime="right"] {
  transform: translate3d(100px, 0px, 0px); 
}

[data-anime="down"] {
  transform: translate3d(0px, -50px, 0px); 
}

[data-anime="up"] {
  transform: translate3d(0px, 50px, 0px); 
}



[data-anime].animate {
  opacity: 1;
  transform: translate3d(0px, 0px ,0px);

}


/*Responsividade*/

@media (max-width: 1104px){}

@media (max-width: 991px){}

@media (max-width: 947px){}

@media (max-width: 690px){}

@media (max-width: 500px){}