/* 
    Created on : 22/09/2022, 07:24:36
    Author     : Diego
*/

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Ubuntu:wght@400;500;700&display=swap');

/*Zerando o CSS*/

*{
    margin: 0;
    padding:  0;
    box-sizing: border-box;
}

/*fundo-tela*/

 html{
    width: 100vw;
    height: 100vh;
    font-size: 62.5%;
    color: white;
    font-family: 'Lato', sans-serif;
}

body{
	overflow-x: hidden;
    width: 100%;
    height: 100%;
	background: rgba(22,22,22,0.2);
	margin: 0;

	
  
}



header{

width: 100vw;
height: 7vh;
background:  rgba(22,22,22,0.2);
padding: 20px;
align-items: center;
flex-wrap: rap;
position: absolute;


	
}

.menu-content{
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 1.2rem;
}

.logo{
	display: block; 
	font-size: 1.8rem;
	letter-spacing: 0.4rem;
	cursor: pointer;
	margin-top: 0;
	font-family: 'Ubuntu', sans-serif;
	text-decoration: none;
}

.logo a {
	color: #fff;
    font-size: 35px;
    font-weight: 500;
	text-decoration: none;
	text-shadow: black 0.1em 0.1em 0.2em
}

.logo a span{
    color: #00FF7F;
    transition: all 0.3s ease;
}

.barra-menu.sticky .logo a span{
    color: #fff;
}

.menu-content .lista-itens{
	display: flex;
	list-style: none;
	gap: 20px;
	text-transform: uppercase;
	
}

.menu-content .lista-itens a {
	text-decoration: none;
	color: white;
	padding: 1.5rem;
	transform: 2ms ease-in;
	position: relative;
	text-shadow: black 0.1em 0.1em 0.2em
	
} 

 .menu-content .lista-itens a:before{
	content: ' ';
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 0px;
	height: 1px;
	background-color: rgb(251,255,0);
	transition: all 1.5s ease;
}

.menu-content .lista-itens a:hover:before{
	width: 100%;
} 



ul ul {
	display:none;
	list-style: none;
	
}

ul li:hover > ul{
	display: block;
	position: relative;
}

/*Centro - conteúdo principal*/

main {
    width: 100vw;
	height: 100vh;
    display: block;
    justify-content: center;
    align-items: center;
    
}


main .inicio {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: space-between;
	background: linear-gradient(45deg,rgba(50,205,50,0.8),rgba(0,0,205,0.75)),url(../imagens/fundo_inicio.jpg);
    background-position: center center;
    background-size: cover;
    background-position-y: 0px;
    background-repeat: no-repeat;
}

main .inicio .inicio-esqueda{
	width: 50%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	
}

main .inicio .inicio-direita{
	width: 50%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.inicio-texto{
	
	margin: auto 0 auto 40px;
	/* padding-top: 100px;
	width: 80%;
	font-size: 27px;
	position: relative;
	text-align: justify;
	padding-left: 50px;
	text-transform: uppercase;
	text-wrap: wrap; */
	
}

.linha-1 {
	padding-top: 100px;
    font-size: 27px;
    padding-left: 50px;
	text-shadow: black 0.1em 0.1em 0.2em
	
}

.linha-2 {
	font-size: 75px;
    font-weight: 500;
    margin-left: -3px;
    padding-left: 50px;
	text-shadow: black 0.1em 0.1em 0.2em
}

.linha-3 {
	font-size: 40px;
    margin: 5px 0;
    padding-left: 50px;
	text-shadow: black 0.1em 0.1em 0.2em
}

.linha-3 span{
	color: #00008B;
	-webkit-text-stroke: 1px #808000;
      text-stroke: 2px black;
	/* text-shadow: black 0.1em 0.1em 0.2em */
    font-weight: 500;
}



.desenho{
	 border-radius: 300px; 
	 width: 65%;
	 height: 65%;
	opacity: 75%;
	 
	 
}

main .sobre{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: space-around;
	background: linear-gradient(45deg,rgba(255,140,0,0.75),rgba(0,0,128,0.75)),url(../imagens/fundo_sobre.jpg);
    background-position: center center;
    background-size: cover;
    background-position-y: 0px;
    background-repeat: no-repeat;
	
}

/* section .title{
	align: center;
	color: green;
}
 */
main .sobre .sobre-esquerda{
	width: 50%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	/* margin: auto; */
}

.sobre-foto{
	border-radius: 300px; 
	 width: 65%;
	 height: 65%;
	margin-left: 110px;
} 

main .sobre .sobre-direita{
	width: 50%;
	height: 100%;
	display: block;
	justify-content: center;
	align-items: center;
	padding-top: 100px;
	
}

main .sobre .titulo {
	font-size: 27px;
	color: #00FF7F;
	text-shadow: black 0.1em 0.1em 0.2em;
	
}

main .sobre .sobre-texto{
	width: 80%;
	position: relative;
	text-align: justify;
	font-size: 2rem;
	color: white;
	text-shadow: black 0.1em 0.1em 0.2em;
	text-wrap: wrap;
	padding-top: 50px;
}

main .sobre .sobre-texto a{
	text-decoration: none;
	color: #00FF7F;
}

.sobre-btns {
  display: flex;
  width: 550px;
  justify-content: space-between;
  
}





.sobre-btns a {
  text-decoration: none;
  color: #00ff00;
  text-shadow: red 0.1em 0.1em 0.2em;
  font-weight: bold;
}

/* .sobre-btns img {
	background-color: #00ff00;
	z-index: -1;
} */

.sobre-btn-curriculo,
.sobre-btn-email,
.sobre-btn-linkedin,
.sobre-btn-github {
  display: flex;
  align-items: center;
  padding: 3px 5px 5px;
  justify-content: space-evenly;
  width: 100px;
  border-radius: 8px;
  position: relative;
  background-color: #121212;
  margin-top: 1rem;
  transition: 0.3s;
  font-weight: 600;
  font-size: 0.95rem;
  letter-spacing: 1.5px;
  height: 40px;
border: 2px solid #00FF7F;

}

.sobre-btn-email::before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: -2px;
  border-radius: 9px;
  background: linear-gradient(
    -45deg,
    rgba(147, 88, 247, 1),
    rgba(16, 215, 226, 1)
  );
  background-size: 400%;
  animation: move infinite forwards 4s;
}

.sobre-btn-curriculo:hover,
.sobre-btn-email:hover,
.sobre-btn-linkedin:hover,
.sobre-btn-github:hover{
  background-color: #272727;
  text-shadow: 1px 1px 3px #00bbc5;
}

.sobre-btn-github::before,
.sobre-btn-curriculo::before,
.sobre-btn-linkedin::before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: -2px;
  border-radius: 9px;
  background: linear-gradient(
    150deg,
    rgba(210, 64, 116, 1),
    rgba(101, 24, 180, 1)
  );
  background-size: 400%;
  animation: move infinite forwards 4s;
}

.sobre-btn-curriculo p,
.sobre-btn-github p,
.sobre-btn-github img {
  padding: 9px 0 5px;
}

.sobre-btn-linkedin img {
  margin-right: 5px;
}

.sobre-btn-curriculo p,
.sobre-btn-curriculo img,
.sobre-btn-email p,
.sobre-btn-email img,
.sobre-btn-linkedin p,
.sobre-btn-linkedin img,
.sobre-btn-github p,
.sobre-btn-github img {
  padding: 9px 0 5px;
}

.sobre-btn-linkedin img,
.sobre-btn-github img,
.sobre-btn-email img,
.sobre-btn-curriculo img {
  width: 22px;
}


.sobre-btns {
  margin-top: 2rem;
}


/* .sobre-mim__foto img {
  border-left: 5px solid #00d2df;
  filter: opacity(55%);
  transition: 0.4s;
  width: 80%;
}
 */
/* .sobre-mim__foto img:hover {
  filter: opacity(70%);
  border-left: 5px solid rgba(101, 24, 180, 1);
}
 */



footer{
    background: #111;
    padding: 8px 23px;
    color: #fff;
    text-align: center;
	font-size: 1.2rem;
}
footer span a{
    color: #00ff00;
	text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}